<% if(lang === 'vi') { %>
<header class=" scroll_header_top_area  fixed scrolled_not_transparent page_header">
  <div class="header_inner clearfix">
    <div class="header_top_bottom_holder">
      <div class="header_bottom clearfix" style=''>
        <div class="container">
          <div class="container_inner clearfix">
            <div class="header_inner_left">
              <div class="mobile_menu_button">
                <span>
                  <i class="qode_icon_font_awesome fa fa-bars "></i> </span>
              </div>
              <div class="logo_wrapper">
                <div class="q_logo">
                  <a itemprop="url" href="/">
                    <img itemprop="image" class="normal"
                      src="assets/img/logo.png" alt="Logo" /> <img
                      itemprop="image" class="light"
                      src="/assets/img/index/logo.png" alt="Logo" /> <img
                      itemprop="image" class="dark"
                      src="/assets/img/index/logo_black.png" alt="Logo" />
                    <img itemprop="image" class="sticky"
                      src="/assets/img/index/logo_black.png" alt="Logo" />
                    <img itemprop="image" class="mobile"
                      src="assets/img/logo.png" alt="Logo" /> </a>
                </div>
                <div class="clearfix">
                  <marquee>CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ MINH ANH</marquee>
                  </div>
              </div>
            </div>
            
            <div class="header_inner_right">
              <div class="side_menu_button_wrapper right">
                <div class="header_bottom_right_widget_holder">
                  <div class="widget_text header_bottom_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                      <ul>
                        <li><img
                            src="/assets/img/index/email copy.svg">general@minhanhxnk.com
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="header_bottom_widget widget_polylang">
                    <ul>
                      <li class="lang-item lang-item-3 lang-item-en lang-item-first"><a lang="en-US"
                          hreflang="en-US" href="<%= engPage %>"><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHzSURBVHjaYkxOP8IAB//+Mfz7w8Dwi4HhP5CcJb/n/7evb16/APL/gRFQDiAAw3JuAgAIBEDQ/iswEERjGzBQLEru97ll0g0+3HvqMn1SpqlqGsZMsZsIe0SICA5gt5a/AGIEarCPtFh+6N/ffwxA9OvP/7//QYwff/6fZahmePeB4dNHhi+fGb59Y4zyvHHmCEAAAW3YDzQYaJJ93a+vX79aVf58//69fvEPlpIfnz59+vDhw7t37968efP3b/SXL59OnjwIEEAsDP+YgY53b2b89++/awvLn98MDi2cVxl+/vl6mituCtBghi9f/v/48e/XL86krj9XzwEEEENy8g6gu22rfn78+NGs5Ofr16+ZC58+fvyYwX8rxOxXr169fPny+fPn1//93bJlBUAAsQADZMEBxj9/GBxb2P/9+S/R8u3vzxuyaX8ZHv3j8/YGms3w8ycQARmi2eE37t4ACCDGR4/uSkrKAS35B3TT////wADOgLOBIaXIyjBlwxKAAGKRXjCB0SOEaeu+/y9fMnz4AHQxCP348R/o+l+//sMZQBNLEvif3AcIIMZbty7Ly6t9ZmXl+fXj/38GoHH/UcGfP79//BBiYHjy9+8/oUkNAAHEwt1V/vI/KBY/QSISFqM/GBg+MzB8A6PfYC5EFiDAABqgW776MP0rAAAAAElFTkSuQmCC"
                            title="EN" alt="EN" /><span style="margin-left:0.3em;"></span></a></li>
                    </ul>
                  </div>
                  <div class="widget_text header_bottom_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                      <ul class="career_header">
                        <li><a href="/nghe-nghiep.html"><img
                              src="/assets/img/index/career_icon.svg">TUYỂN
                            DỤNG</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="side_menu_button">
                </div>
              </div>
            </div>
            <nav class="mobile_menu">
              <ul id="menu-main-menu" class="">
                
                <li id="mobile-menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'gioi-thieu' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/gioi-thieu.html" class="<%= page === 'gioi-thieu' ? 'current' : '' %>"><span>Giới Thiệu</span></a><span
                    class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                </li>
                <li id="mobile-menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'san-pham' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/san-pham.html" class="<%= page === 'san-pham' ? 'current' : '' %>"><span>Sản Phẩm</span></a><span
                    class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                </li>
                <li id="mobile-menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'bat-dong-san' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                  href="/bat-dong-san.html" class="<%= page === 'bat-dong-san' ? 'current' : '' %>"><span>Dự án BĐS</span></a><span
                  class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
              </li>
                <li id="mobile-menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'doi-tac-chien-luoc' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/doi-tac-chien-luoc.html" class="<%= page === 'doi-tac-chien-luoc' ? 'current' : '' %>"><span>Đối Tác Chiến
                      Lược</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                      class="fa fa-angle-down"></i></span></li>
                <li id="mobile-menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'tin-tuc-su-kien' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/tin-tuc-su-kien.html" class="<%= page === 'tin-tuc-su-kien' ? 'current' : '' %>"><span>Tin Tức Sự
                      Kiện</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                      class="fa fa-angle-down"></i></span></li>
                <li id="mobile-menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'gioi-thieu' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/lien-he.html" class="<%= page === 'gioi-thieu' ? 'current' : '' %>"><span>Liên Hệ</span></a><span
                    class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="extra-menu">
        <ul id="menu-main-menu-1" class="">
          <li id="nav-menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'gioi-thieu' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/gioi-thieu.html" class="<%= page === 'gioi-thieu' ? 'current' : '' %>"><i class="menu_icon blank fa"></i><span>Giới
                Thiệu</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'san-pham' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/san-pham.html" class="<%= page === 'san-pham' ? 'current' : '' %>"><i class="menu_icon blank fa"></i><span>Sản
                Phẩm</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'bat-dong-san' ? 'current-menu-item current_page_item active' : '' %>"><a
            href="/bat-dong-san.html" class="<%= page === 'bat-dong-san' ? 'current' : '' %>"><i class="menu_icon blank fa"></i><span>Dự án 
              BĐS</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'doi-tac-chien-luoc' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/doi-tac-chien-luoc.html" class="<%= page === 'doi-tac-chien-luoc' ? 'current' : '' %>"><i
                class="menu_icon blank fa"></i><span>Đối Tác Chiến Lược</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'tin-tuc-su-kien' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/tin-tuc-su-kien.html" class="<%= page === 'tin-tuc-su-kien' ? 'current' : '' %>"><i
                class="menu_icon blank fa"></i><span>Tin Tức Sự Kiện</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'lien-he' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/lien-he.html" class="<%= page === 'lien-he' ? 'current' : '' %>"><i class="menu_icon blank fa"></i><span>Liên
                Hệ</span><span class="plus"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<% } %>
<% if(lang === 'en') { %>
<header class=" scroll_header_top_area  fixed scrolled_not_transparent page_header">
  <div class="header_inner clearfix">
    <div class="header_top_bottom_holder">
      <div class="header_bottom clearfix" style=''>
        <div class="container">
          <div class="container_inner clearfix">
            <div class="header_inner_left">
              <div class="mobile_menu_button">
                <span>
                  <i class="qode_icon_font_awesome fa fa-bars "></i> </span>
              </div>
              <div class="logo_wrapper">
                <div class="q_logo">
                  <a itemprop="url" href="/en/">
                    <img itemprop="image" class="normal"
                      src="/assets/img/logo.png" alt="Logo" /> <img
                      itemprop="image" class="light"
                      src="/assets/img/index/logo.png" alt="Logo" /> <img
                      itemprop="image" class="dark"
                      src="/assets/img/index/logo_black.png" alt="Logo" />
                    <img itemprop="image" class="sticky"
                      src="/assets/img/index/logo_black.png" alt="Logo" />
                    <img itemprop="image" class="mobile"
                      src="/assets/img/logo.png" alt="Logo" /> </a> </a>
                </div>
              </div>
            </div>
            <div class="header_inner_right">
              <div class="side_menu_button_wrapper right">
                <div class="header_bottom_right_widget_holder">
                  <div class="widget_text header_bottom_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                      <ul>                       
                        <li><img
                            src="/assets/img/index/email copy.svg">general@minhanhxnk.com
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="header_bottom_widget widget_polylang">
                    <ul>
                      <li class="lang-item lang-item-11 lang-item-vi"><a lang="vi" hreflang="vi"
                          href="<%= viPage %>"><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFsSURBVHjaYvzPgAD/UNlYEUAAmuTYAAAQhAEYqF/zFbe50RZ1cMmS9TLi0pJLRjZohAMTGFUN9HdnHgEE1sDw//+Tp0ClINW/f4NI9d////3+f+b3/1+////+9f/XL6A4o6ws0AaAAGIBm/0fRTVQ2v3Pf97f/4/9Aqv+DdHA8Ps3UANAALEAMSNQNdDGP3+ALvnf8vv/t9//9X/////7f+uv/4K//iciNABNBwggsJP+/IW4kuH3n//1v/8v+wVSDURmv/57//7/CeokoKFA0wECiAnkpL9/wH4CO+DNr/+VQA1A9PN/w6//j36CVIMRxEkAAQR20m+QpSBXgU0CuSTj9/93v/8v//V/xW+48UBD/zAwAAQQSAMzOMiABoBUswCd8ev/M7A669//OX7///Lr/x+gBlCoAJ0DEEAgDUy//zBISoKNAfoepJNRFmQkyJecfxj4/kDCEIiAigECiPErakTiiWMIAAgwAB4ZUlqMMhQQAAAAAElFTkSuQmCC"
                            title="VN" alt="VN" /><span style="margin-left:0.3em;"></span></a></li>
                    </ul>
                  </div>
                  <div class="widget_text header_bottom_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                      <ul class="career_header">
                        <li><a href="/en/career.html"><img
                              src="../assets/img/index/career_icon.svg">CAREER</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="side_menu_button">
                </div>
              </div>
            </div>
            <nav class="mobile_menu">
              <ul id="menu-main-menu-en" class="">
                <li id="mobile-menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'about' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/en/about.html" class="<%= page === 'about' ? 'current' : '' %>"><span>About</span></a><span
                    class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                </li>
                <li id="mobile-menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'product' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/en/product.html" class="<%= page === 'product' ? 'current' : '' %>"><span>Products</span></a><span
                    class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                </li>
                <li id="mobile-menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'partner' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/en/partner.html" class="<%= page === 'partner' ? 'current' : '' %>"><span>Partner</span></a><span
                    class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                </li>
                <li id="mobile-menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'news-events' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/en/news-events.html" class="<%= page === 'news-events' ? 'current' : '' %>"><span>News &#038;
                      Events</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i
                      class="fa fa-angle-down"></i></span></li>
                <li id="mobile-menu-item-467" class="menu-item menu-item-type-post_type menu-item-object-page <%= page === 'contact' ? 'current-menu-item page_item current_page_item active' : '' %>"><a
                    href="/en/contact.html" class="<%= page === 'contact' ? 'current' : '' %>"><span>Contact</span></a><span
                    class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="extra-menu">
        <ul id="menu-main-menu-en-1" class="">
          <li id="nav-menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'about' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/en/about.html" class="<%= page === 'about' ? 'current' : '' %>"><i
                class="menu_icon blank fa"></i><span>About</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'product' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/en/product.html" class="<%= page === 'product' ? 'current' : '' %>"><i
                class="menu_icon blank fa"></i><span>Products</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'partner' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/en/partner.html" class="<%= page === 'partner' ? 'current' : '' %>"><i
                class="menu_icon blank fa"></i><span>Partner</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'news-events' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/en/news-events.html" class="<%= page === 'news-events' ? 'current' : '' %>"><i
                class="menu_icon blank fa"></i><span>News &#038; Events</span><span class="plus"></span></a></li>
          <li id="nav-menu-item-467" class="menu-item menu-item-type-post_type menu-item-object-page  narrow <%= page === 'contact' ? 'current-menu-item current_page_item active' : '' %>"><a
              href="/en/contact.html" class="<%= page === 'contact' ? 'current' : '' %>"><i
                class="menu_icon blank fa"></i><span>Contact</span><span class="plus"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<% } %>
<a id="back_to_top" href="#">
  <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up "></i> </span>
</a>